* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 38px;
}

.header-nav-list {
    display: flex;
    margin-top: 80px;
    gap: 30px;
}

.header-list-link {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #8c8a8a;
    transition: 300ms;
}

.header-list-link:hover {
    color: #000000;
}

.main-box {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.main-box-left {
    width: 730px;
    background: #F0F0F0;
    padding: 50px 95px 51px 40px;
    margin-right: 30px;
}

.main-box-right {
    width: 350px;
    background: #F0F0F0;
    padding: 50px 24px 0 40px;
}

.main-box-left-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #4581b7;
    margin-bottom: 25px;
}

.main-box-left-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #808080;
}

.main-box-right-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #4581b7;
    padding-bottom: 25px;
}

.main-box-right-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #808080;
}

.main-box-right-call {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #808080;
    display: block;
    padding-top: 25px;
    padding-bottom: 30px;
}

.email {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #808080;
    display: block;
}

.footer-box {
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    color: #808080;
}

.footer-right-tel {
    font-weight: 700;
    font-size: 25px;
    color: #808080;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}